*.pth*.txt venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__init__.pyvenv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__main__.pyvenv/Scripts/pythonw.exevenv/Scripts/python.exevenv/Scripts/pip3.exe.manifest